  <ul>
      <li>
        <a href="/about/" title="About Project Gutenberg">About Project Gutenberg</a>
      </li>
      <li>
        <a href="/policy/privacy_policy.html" title="Privacy Policy">Privacy policy</a>
      </li>
      <li>
        <a href="/policy/permission.html" title="Permissions">Permissions</a>
      </li>
      <li>
        <a href="/policy/terms_of_use.html" title="Terms of Use">Terms of Use</a>
      </li>
      <li>
        <a href="/about/contact_information.html" title="Contact Information">Contact Us</a>
      </li>
      <li><a href="/help/" title="Get Help">Help Pages</a></li>
  </ul>

  <a href="https://www.ibiblio.org/" title="Project Gutenberg is hosted by ibiblio">
   <img src="/gutenberg/ibiblio-logo.png" alt="iBiblio">
  </a>
