
 <link rel="stylesheet" href="/gutenberg/style.css?v=1.1">
 <link rel="stylesheet" href="/gutenberg/collapsible.css?1.1">
 <link rel="stylesheet" href="/gutenberg/new_nav.css?v=1.321231">
<link rel="stylesheet" href="/gutenberg/pg-desktop-one.css">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta name="keywords" content="books, ebooks, free, kindle, android, iphone, ipad"/>
 <meta name="google-site-verification" content="wucOEvSnj5kP3Ts_36OfP64laakK-1mVTg-ptrGC9io"/>
 <meta name="alexaVerifyID" content="4WNaCljsE-A82vP_ih2H_UqXZvM"/>
 <link rel="copyright" href="https://www.gnu.org/copyleft/fdl.html"/>
 <link rel="shortcut icon" href="/gutenberg/favicon.ico?v=1.1"/>

 <meta property="og:title"        content="Project Gutenberg" />
 <meta property="og:type"         content="website" />
 <meta property="og:url"          content="https://www.gutenberg.org/" />
 <meta property="og:description"  content="Project Gutenberg is a library of free eBooks." />
 <meta property="fb:admins"       content="615269807" />
 <meta property="fb:app_id"       content="115319388529183" />
 <meta property="og:site_name"    content="Project Gutenberg" />
 <meta property="og:image"        content="https://www.gutenberg.org/gutenberg/pg-logo-144x144.png" />
 </head>
