
                <a href="/ebooks/69719" title="Galactic heritage" authors="Frank Belknap Long" target="_top">
                    <div class="cover_image">
                        <div class="cover_img">
                            <img src="/cache/epub/69719/pg69719.cover.medium.jpg" alt="Galactic heritage, Frank Belknap Long" title="Galactic heritage"
                             authors="Frank Belknap Long" draggable="false">
                        </div>
                        <div class="cover_title">
                            <h5>Galactic heritage by Frank Belknap Long</h5>
                        </div>
                    </div>
                </a>
                
                <a href="/ebooks/69718" title="Tall tales of Cape Cod" authors="Marillis Bittinger, Bruce Adams" target="_top">
                    <div class="cover_image">
                        <div class="cover_img">
                            <img src="/cache/epub/69718/pg69718.cover.medium.jpg" alt="Tall tales of Cape Cod, Marillis Bittinger, Bruce Adams" title="Tall tales of Cape Cod"
                             authors="Marillis Bittinger, Bruce Adams" draggable="false">
                        </div>
                        <div class="cover_title">
                            <h5>Tall tales of Cape Cod by Marillis Bittinger</h5>
                        </div>
                    </div>
                </a>
                
                <a href="/ebooks/69717" title="That Eurasian" authors="Aleph Bey" target="_top">
                    <div class="cover_image">
                        <div class="cover_img">
                            <img src="/cache/epub/69717/pg69717.cover.medium.jpg" alt="That Eurasian, Aleph Bey" title="That Eurasian"
                             authors="Aleph Bey" draggable="false">
                        </div>
                        <div class="cover_title">
                            <h5>That Eurasian by Aleph Bey</h5>
                        </div>
                    </div>
                </a>
                
                <a href="/ebooks/69696" title="The Star of India" authors="Edward Sylvester Ellis" target="_top">
                    <div class="cover_image">
                        <div class="cover_img">
                            <img src="/cache/epub/69696/pg69696.cover.medium.jpg" alt="The Star of India, Edward Sylvester Ellis" title="The Star of India"
                             authors="Edward Sylvester Ellis" draggable="false">
                        </div>
                        <div class="cover_title">
                            <h5>The Star of India by Edward Sylvester Ellis</h5>
                        </div>
                    </div>
                </a>
                
                <a href="/ebooks/69716" title="Life and labor in the spirit world: Being a description of localities, employments, surroundings, and conditions in the spheres." authors="Mary T. Longley" target="_top">
                    <div class="cover_image">
                        <div class="cover_img">
                            <img src="/cache/epub/69716/pg69716.cover.medium.jpg" alt="Life and labor in the spirit world: Being a description of localities, employments, surroundings, and conditions in the spheres., Mary T. Longley" title="Life and labor in the spirit world: Being a description of localities, employments, surroundings, and conditions in the spheres."
                             authors="Mary T. Longley" draggable="false">
                        </div>
                        <div class="cover_title">
                            <h5>Life and labor in the spirit world: Being a description of localities,</h5>
                        </div>
                    </div>
                </a>
                
                <a href="/ebooks/69715" title="The scarlet car, the Princess Aline" authors="Richard Harding Davis" target="_top">
                    <div class="cover_image">
                        <div class="cover_img">
                            <img src="/cache/epub/69715/pg69715.cover.medium.jpg" alt="The scarlet car, the Princess Aline, Richard Harding Davis" title="The scarlet car, the Princess Aline"
                             authors="Richard Harding Davis" draggable="false">
                        </div>
                        <div class="cover_title">
                            <h5>The scarlet car, the Princess Aline by Richard Harding Davis</h5>
                        </div>
                    </div>
                </a>
                
                <a href="/ebooks/69714" title="The discarded daughter: Or the children of the isle" authors="Emma Dorothy Eliza Nevitte Southworth" target="_top">
                    <div class="cover_image">
                        <div class="cover_img">
                            <img src="/cache/epub/69714/pg69714.cover.medium.jpg" alt="The discarded daughter: Or the children of the isle, Emma Dorothy Eliza Nevitte Southworth" title="The discarded daughter: Or the children of the isle"
                             authors="Emma Dorothy Eliza Nevitte Southworth" draggable="false">
                        </div>
                        <div class="cover_title">
                            <h5>The discarded daughter: Or the children of the isle by Southworth</h5>
                        </div>
                    </div>
                </a>
                
                <a href="/ebooks/69713" title="Reverse English" authors="John S. Carroll" target="_top">
                    <div class="cover_image">
                        <div class="cover_img">
                            <img src="/cache/epub/69713/pg69713.cover.medium.jpg" alt="Reverse English, John S. Carroll" title="Reverse English"
                             authors="John S. Carroll" draggable="false">
                        </div>
                        <div class="cover_title">
                            <h5>Reverse English by John S. Carroll</h5>
                        </div>
                    </div>
                </a>
                
                <a href="/ebooks/69712" title="When Africa awakes: The &quot;inside story&quot; of the stirrings and strivings of the new Negro in the Western world" authors="Hubert H. Harrison" target="_top">
                    <div class="cover_image">
                        <div class="cover_img">
                            <img src="/cache/epub/69712/pg69712.cover.medium.jpg" alt="When Africa awakes: The &quot;inside story&quot; of the stirrings and strivings of the new Negro in the Western world, Hubert H. Harrison" title="When Africa awakes: The &quot;inside story&quot; of the stirrings and strivings of the new Negro in the Western world"
                             authors="Hubert H. Harrison" draggable="false">
                        </div>
                        <div class="cover_title">
                            <h5>When Africa awakes: The &quot;inside story&quot; of the stirrings and strivings of the new</h5>
                        </div>
                    </div>
                </a>
                
                <a href="/ebooks/69711" title="The star dreamer: A romance" authors="Agnes Castle, Egerton Castle" target="_top">
                    <div class="cover_image">
                        <div class="cover_img">
                            <img src="/cache/epub/69711/pg69711.cover.medium.jpg" alt="The star dreamer: A romance, Agnes Castle, Egerton Castle" title="The star dreamer: A romance"
                             authors="Agnes Castle, Egerton Castle" draggable="false">
                        </div>
                        <div class="cover_title">
                            <h5>The star dreamer: A romance by Agnes Castle and Egerton Castle</h5>
                        </div>
                    </div>
                </a>
                