<!-- Latest Books -->
<h1>Latest Books [<a href="/ebooks/">Find More</a>]</h1>
<div class="library">
<div class="lib latest no-select">

  <a href="book.html" class="no-hover">
    <div class="cover-container">
      <img src="/gutenberg/book-cover.png" alt="Book Title" title="Book Title" draggable="false">
    </div>
    <h3>Book Title</h3>
    <p class="desc">Author Name</p>
  </a>
  <a href="book.html" class="no-hovhttps://github.com/gbnewby/gutenberg-landing-pages.giter">
    <div class="cover-container">
      <img src="/gutenberg/book-cover.png" alt="Book Title" title="Book Title" draggable="false">
    </div>
    <h3>Book Title</h3>
    <p class="desc">Author Name</p>
  </a>
  <a href="book.html" class="no-hover">
    <div class="cover-container">
      <img src="/gutenberg/book-cover.png" alt="Book Title" title="Book Title" draggable="false">
    </div>
    <h3>Book Title</h3>
    <p class="desc">Author Name</p>
  </a>
  <a href="book.html" class="no-hover">
    <div class="cover-container">
      <img src="/gutenberg/book-cover.png" alt="Book Title" title="Book Title" draggable="false">
    </div>
    <h3>Book Title</h3>
    <p class="desc">Author Name</p>
  </a>
  <a href="book.html" class="no-hover">
    <div class="cover-container">
      <img src="/gutenberg/book-cover.png" alt="Book Title" title="Book Title" draggable="false">
    </div>
    <h3>Book Title</h3>
    <p class="desc">Author Name</p>
  </a>
  <a href="book.html" class="no-hover">
    <div class="cover-container">
      <img src="/gutenberg/book-cover.png" alt="Book Title" title="Book Title" draggable="false">
    </div>
    <h3>Book Title</h3>
    <p class="desc">Author Name</p>
  </a>
  <a href="book.html" class="no-hover">
    <div class="cover-container">
      <img src="/gutenberg/book-cover.png" alt="Book Title" title="Book Title" draggable="false">
    </div>
    <h3>Book Title</h3>
    <p class="desc">Author Name</p>
  </a>
  <a href="book.html" class="no-hover">
    <div class="cover-container">
      <img src="/gutenberg/book-cover.png" alt="Book Title" title="Book Title" draggable="false">
    </div>
    <h3>Book Title</h3>
    <p class="desc">Author Name</p>
  </a>
  <a href="book.html" class="no-hover">
    <div class="cover-container">
      <img src="/gutenberg/book-cover.png" alt="Book Title" title="Book Title" draggable="false">
    </div>
    <h3>Book Title</h3>
    <p class="desc">Author Name</p>
  </a>
  <a href="book.html" class="no-hover">
    <div class="cover-container">
      <img src="/gutenberg/book-cover.png" alt="Book Title" title="Book Title" draggable="false">
    </div>
    <h3>Book Title</h3>
    <p class="desc">Author Name</p>
  </a>
</div>
</div>
<!-- ending latest books -->
