
                <a href="/ebooks/74147" title="The black drama" authors="Manly Wade Wellman" target="_top">
                    <div class="cover_image">
                        <div class="cover_img">
                            <img src="/cache/epub/74147/pg74147.cover.medium.jpg" alt="The black drama, Manly Wade Wellman" title="The black drama"
                             authors="Manly Wade Wellman" draggable="false">
                        </div>
                        <div class="cover_title">
                            <h5>The black drama by Manly Wade Wellman</h5>
                        </div>
                    </div>
                </a>
                
                <a href="/ebooks/74146" title="Chambers&apos;s Journal of Popular Literature, Science, and Art, fifth series, no. 142, vol. III, September 18, 1886" authors="Various" target="_top">
                    <div class="cover_image">
                        <div class="cover_img">
                            <img src="/cache/epub/74146/pg74146.cover.medium.jpg" alt="Chambers&apos;s Journal of Popular Literature, Science, and Art, fifth series, no. 142, vol. III, September 18, 1886, Various" title="Chambers&apos;s Journal of Popular Literature, Science, and Art, fifth series, no. 142, vol. III, September 18, 1886"
                             authors="Various" draggable="false">
                        </div>
                        <div class="cover_title">
                            <h5>Chambers&apos;s Journal of Popular Literature, Science, and Art, fifth series, no.…</h5>
                        </div>
                    </div>
                </a>
                
                <a href="/ebooks/74145" title="Radio razz" authors="Jack Woodford" target="_top">
                    <div class="cover_image">
                        <div class="cover_img">
                            <img src="/cache/epub/74145/pg74145.cover.medium.jpg" alt="Radio razz, Jack Woodford" title="Radio razz"
                             authors="Jack Woodford" draggable="false">
                        </div>
                        <div class="cover_title">
                            <h5>Radio razz by Jack Woodford</h5>
                        </div>
                    </div>
                </a>
                
                <a href="/ebooks/74144" title="Jackie sees a star" authors="Marion Zimmer Bradley, Alex Schomburg" target="_top">
                    <div class="cover_image">
                        <div class="cover_img">
                            <img src="/cache/epub/74144/pg74144.cover.medium.jpg" alt="Jackie sees a star, Marion Zimmer Bradley, Alex Schomburg" title="Jackie sees a star"
                             authors="Marion Zimmer Bradley, Alex Schomburg" draggable="false">
                        </div>
                        <div class="cover_title">
                            <h5>Jackie sees a star by Marion Zimmer Bradley</h5>
                        </div>
                    </div>
                </a>
                
                <a href="/ebooks/74143" title="Dépaysements" authors="Robert de Traz" target="_top">
                    <div class="cover_image">
                        <div class="cover_img">
                            <img src="/cache/epub/74143/pg74143.cover.medium.jpg" alt="Dépaysements, Robert de Traz" title="Dépaysements"
                             authors="Robert de Traz" draggable="false">
                        </div>
                        <div class="cover_title">
                            <h5>Dépaysements by Robert de Traz</h5>
                        </div>
                    </div>
                </a>
                
                <a href="/ebooks/74142" title="Raw men" authors="Frank Richardson Pierce" target="_top">
                    <div class="cover_image">
                        <div class="cover_img">
                            <img src="/cache/epub/74142/pg74142.cover.medium.jpg" alt="Raw men, Frank Richardson Pierce" title="Raw men"
                             authors="Frank Richardson Pierce" draggable="false">
                        </div>
                        <div class="cover_title">
                            <h5>Raw men by Frank Richardson Pierce</h5>
                        </div>
                    </div>
                </a>
                
                <a href="/ebooks/74141" title="L&apos;art de chevalerie selon Vegece" authors="de Pisan Christine, Flavius Vegetus Renatus" target="_top">
                    <div class="cover_image">
                        <div class="cover_img">
                            <img src="/cache/epub/74141/pg74141.cover.medium.jpg" alt="L&apos;art de chevalerie selon Vegece, de Pisan Christine, Flavius Vegetus Renatus" title="L&apos;art de chevalerie selon Vegece"
                             authors="de Pisan Christine, Flavius Vegetus Renatus" draggable="false">
                        </div>
                        <div class="cover_title">
                            <h5>L&apos;art de chevalerie selon Vegece by de Pisan Christine and Flavius Vegetus Renatus</h5>
                        </div>
                    </div>
                </a>
                
                <a href="/ebooks/74140" title="The strike at Too Dry" authors="Willis Brindley" target="_top">
                    <div class="cover_image">
                        <div class="cover_img">
                            <img src="/cache/epub/74140/pg74140.cover.medium.jpg" alt="The strike at Too Dry, Willis Brindley" title="The strike at Too Dry"
                             authors="Willis Brindley" draggable="false">
                        </div>
                        <div class="cover_title">
                            <h5>The strike at Too Dry by Willis Brindley</h5>
                        </div>
                    </div>
                </a>
                
                <a href="/ebooks/74139" title="The woman obsession" authors="William Campbell Gault" target="_top">
                    <div class="cover_image">
                        <div class="cover_img">
                            <img src="/cache/epub/74139/pg74139.cover.medium.jpg" alt="The woman obsession, William Campbell Gault" title="The woman obsession"
                             authors="William Campbell Gault" draggable="false">
                        </div>
                        <div class="cover_title">
                            <h5>The woman obsession by William Campbell Gault</h5>
                        </div>
                    </div>
                </a>
                
                <a href="/ebooks/74138" title="The love song of Lancelot Biggs" authors="Nelson S. Bond" target="_top">
                    <div class="cover_image">
                        <div class="cover_img">
                            <img src="/cache/epub/74138/pg74138.cover.medium.jpg" alt="The love song of Lancelot Biggs, Nelson S. Bond" title="The love song of Lancelot Biggs"
                             authors="Nelson S. Bond" draggable="false">
                        </div>
                        <div class="cover_title">
                            <h5>The love song of Lancelot Biggs by Nelson S. Bond</h5>
                        </div>
                    </div>
                </a>
                