
                <a href="/ebooks/71160" title="Homemade candy—sweet and dandy" authors="Anonymous" target="_top">
                    <div class="cover_image">
                        <div class="cover_img">
                            <img src="/cache/epub/71160/pg71160.cover.medium.jpg" alt="Homemade candy—sweet and dandy, Anonymous" title="Homemade candy—sweet and dandy"
                             authors="Anonymous" draggable="false">
                        </div>
                        <div class="cover_title">
                            <h5>Homemade candy—sweet and dandy by Anonymous</h5>
                        </div>
                    </div>
                </a>
                
                <a href="/ebooks/71159" title="Thomas Carlyle" authors="G. K. Chesterton, J. E. Hodder-Williams" target="_top">
                    <div class="cover_image">
                        <div class="cover_img">
                            <img src="/cache/epub/71159/pg71159.cover.medium.jpg" alt="Thomas Carlyle, G. K. Chesterton, J. E. Hodder-Williams" title="Thomas Carlyle"
                             authors="G. K. Chesterton, J. E. Hodder-Williams" draggable="false">
                        </div>
                        <div class="cover_title">
                            <h5>Thomas Carlyle by G. K. Chesterton and J. E. Hodder-Williams</h5>
                        </div>
                    </div>
                </a>
                
                <a href="/ebooks/71158" title="Three textile raw materials and their manufacture" authors="Anonymous" target="_top">
                    <div class="cover_image">
                        <div class="cover_img">
                            <img src="/cache/epub/71158/pg71158.cover.medium.jpg" alt="Three textile raw materials and their manufacture, Anonymous" title="Three textile raw materials and their manufacture"
                             authors="Anonymous" draggable="false">
                        </div>
                        <div class="cover_title">
                            <h5>Three textile raw materials and their manufacture by Anonymous</h5>
                        </div>
                    </div>
                </a>
                
                <a href="/ebooks/71157" title="Essays in Zen Buddhism" authors="Daisetz Teitaro Suzuki" target="_top">
                    <div class="cover_image">
                        <div class="cover_img">
                            <img src="/cache/epub/71157/pg71157.cover.medium.jpg" alt="Essays in Zen Buddhism, Daisetz Teitaro Suzuki" title="Essays in Zen Buddhism"
                             authors="Daisetz Teitaro Suzuki" draggable="false">
                        </div>
                        <div class="cover_title">
                            <h5>Essays in Zen Buddhism by Daisetz Teitaro Suzuki</h5>
                        </div>
                    </div>
                </a>
                
                <a href="/ebooks/71156" title="Five years of youth" authors="Harriet Martineau" target="_top">
                    <div class="cover_image">
                        <div class="cover_img">
                            <img src="/cache/epub/71156/pg71156.cover.medium.jpg" alt="Five years of youth, Harriet Martineau" title="Five years of youth"
                             authors="Harriet Martineau" draggable="false">
                        </div>
                        <div class="cover_title">
                            <h5>Five years of youth by Harriet Martineau</h5>
                        </div>
                    </div>
                </a>
                
                <a href="/ebooks/71155" title="Facing the chair" authors="John Dos Passos, Eugene V. Debs, Anatole France" target="_top">
                    <div class="cover_image">
                        <div class="cover_img">
                            <img src="/cache/epub/71155/pg71155.cover.medium.jpg" alt="Facing the chair, John Dos Passos, Eugene V. Debs, Anatole France" title="Facing the chair"
                             authors="John Dos Passos, Eugene V. Debs, Anatole France" draggable="false">
                        </div>
                        <div class="cover_title">
                            <h5>Facing the chair by John Dos Passos</h5>
                        </div>
                    </div>
                </a>
                
                <a href="/ebooks/71154" title="Lectures on painting, delivered at the Royal Academy, by Henry Fuseli, P.P." authors="Henry Fuseli" target="_top">
                    <div class="cover_image">
                        <div class="cover_img">
                            <img src="/cache/epub/71154/pg71154.cover.medium.jpg" alt="Lectures on painting, delivered at the Royal Academy, by Henry Fuseli, P.P., Henry Fuseli" title="Lectures on painting, delivered at the Royal Academy, by Henry Fuseli, P.P."
                             authors="Henry Fuseli" draggable="false">
                        </div>
                        <div class="cover_title">
                            <h5>Lectures on painting, delivered at the Royal Academy, by Henry Fuseli, P.P.</h5>
                        </div>
                    </div>
                </a>
                
                <a href="/ebooks/71153" title="The sacred dance" authors="William Oscar Emil Oesterley" target="_top">
                    <div class="cover_image">
                        <div class="cover_img">
                            <img src="/cache/epub/71153/pg71153.cover.medium.jpg" alt="The sacred dance, William Oscar Emil Oesterley" title="The sacred dance"
                             authors="William Oscar Emil Oesterley" draggable="false">
                        </div>
                        <div class="cover_title">
                            <h5>The sacred dance by William Oscar Emil Oesterley</h5>
                        </div>
                    </div>
                </a>
                
                <a href="/ebooks/71152" title="A lady and her husband" authors="Amber Reeves" target="_top">
                    <div class="cover_image">
                        <div class="cover_img">
                            <img src="/cache/epub/71152/pg71152.cover.medium.jpg" alt="A lady and her husband, Amber Reeves" title="A lady and her husband"
                             authors="Amber Reeves" draggable="false">
                        </div>
                        <div class="cover_title">
                            <h5>A lady and her husband by Amber Reeves</h5>
                        </div>
                    </div>
                </a>
                
                <a href="/ebooks/71151" title="Studii sulla letteratura contemporanea" authors="Luigi Capuana" target="_top">
                    <div class="cover_image">
                        <div class="cover_img">
                            <img src="/cache/epub/71151/pg71151.cover.medium.jpg" alt="Studii sulla letteratura contemporanea, Luigi Capuana" title="Studii sulla letteratura contemporanea"
                             authors="Luigi Capuana" draggable="false">
                        </div>
                        <div class="cover_title">
                            <h5>Studii sulla letteratura contemporanea by Luigi Capuana</h5>
                        </div>
                    </div>
                </a>
                