<nav>
  <!--<div id="main_logo"> -->
  <a id="main_logo" href="/" class="no-hover">
    <img src="/gutenberg/pg-logo-129x80_gold.png" alt="Project Gutenberg" draggable="false" />
  </a>
  <!--	</div>-->
  <div id="menu">
    <label for="tm" id="toggle-menu">Menu<span class="drop-icon">&#9662;</span></label>
    <input type="checkbox" id="tm" />
    <ul class="main-menu cf">
      <li>
	<a href="/about/">About
          <span class="drop-icon">&#9662;</span>
      	</a>
        <label title="Toggle Drop-down" class="drop-icon" for="sm0">&#9662;</label>
     	<input type="checkbox" id="sm0" />
     	<ul class="sub-menu">
	  <li><a href="/about/">About Project Gutenberg</a></li>
          <li><a href="/policy/collection_development.html">Collection Development</a></li>
          <li><a href="/about/contact_information.html">Contact Us</a></li>
          <li><a href="/about/background/">History &amp; Philosophy</a></li>
          <li><a href="/policy/permission.html">Permissions &amp; License</a></li>
          <li><a href="/policy/privacy_policy.html">Privacy Policy</a></li>
          <li><a href="/policy/terms_of_use.html">Terms of Use</a></li>
	</ul>
      </li>
      <li>
	<a href="/ebooks/">Search and Browse
      	  <span class="drop-icon">&#9662;</span>
      	</a>
	<label title="Toggle Drop-down" class="drop-icon" for="sm8">&#9662;</label>
        <input type="checkbox" id="sm8" />
        <ul class="sub-menu">
	  <li><a href="/ebooks/">Book Search</a></li>
	  <li><a href="/ebooks/bookshelf/">Bookshelves</a></li>
	  <li><a href="/browse/scores/top">Frequently Downloaded</a></li>
	  <li><a href="/ebooks/offline_catalogs.html">Offline Catalogs</a></li>
	</ul>
      </li>
      <li>
	<a href="/help/">Help
          <span class="drop-icon">&#9662;</span>
   	</a>
         <label title="Toggle Drop-down" class="drop-icon" for="sm3">&#9662;</label>
   	<input type="checkbox" id="sm3" />
    	<ul class="sub-menu">
          <li><a href="/help/">All help topics &rarr;</a></li>
          <li><a href="/help/copyright.html">Copyright Procedures</a></li>
          <li><a href="/help/errata.html">Errata, Fixes and Bug Reports</a></li>
          <li><a href="/help/file_formats.html">File Formats</a></li>
          <li><a href="/help/faq.html">Frequently Asked Questions</a></li>
          <li><a href="/policy/">Policies &rarr;</a></li>
          <li><a href="/help/public_domain_ebook_submission.html">Public Domain eBook Submission</a></li>
          <li><a href="/help/submitting_your_own_work.html">Submitting Your Own Work</a></li>
          <li><a href="/help/mobile.html">Tablets, Phones and eReaders</a></li>
          <li><a href="/attic/">The Attic &rarr;</a></li>
        </ul>
      </li>
      <li><a href="/donate/">Donate</a></li>
    </ul>
  </div>
  <div class="donate">
  <div class="searchbox">
    <form method="get" action="/ebooks/search/" accept-charset="utf-8" enctype="multipart/form-data" class="searchbox">
      <input type="text" value="" id="menu-book-search" name="query" class="searchInput" title="Quick search" tabindex="20" size="20" maxlength="80" placeholder="  Quick search" />
      <input type="submit" name="submit_search" value="Go!" style="vertical-align:middle;" />
    </form>
  </div>
    <form class="donatelink" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="new">
      <p><a href="/donate/">Donation</a></p>
      <input type="hidden" name="cmd" value="_s-xclick" />
      <input type="hidden" name="hosted_button_id" value="XKAL6BZL3YPSN" />
      <input class="donbtn" type="image" src="/pics/en_US.gif" name="submit" alt="Donate via PayPal" />
    </form>
  </div>
</nav>
