<div class="pgdbnavbar">
  <p>Authors:
    <a href="/browse/authors/a">A</a>&nbsp;
    <a href="/browse/authors/b">B</a>&nbsp;
    <a href="/browse/authors/c">C</a>&nbsp;
    <a href="/browse/authors/d">D</a>&nbsp;
    <a href="/browse/authors/e">E</a>&nbsp;
    <a href="/browse/authors/f">F</a>&nbsp;
    <a href="/browse/authors/g">G</a>&nbsp;
    <a href="/browse/authors/h">H</a>&nbsp;
    <a href="/browse/authors/i">I</a>&nbsp;
    <a href="/browse/authors/j">J</a>&nbsp;
    <a href="/browse/authors/k">K</a>&nbsp;
    <a href="/browse/authors/l">L</a>&nbsp;
    <a href="/browse/authors/m">M</a>&nbsp;
    <a href="/browse/authors/n">N</a>&nbsp;
    <a href="/browse/authors/o">O</a>&nbsp;
    <a href="/browse/authors/p">P</a>&nbsp;
    <a href="/browse/authors/q">Q</a>&nbsp;
    <a href="/browse/authors/r">R</a>&nbsp;
    <a href="/browse/authors/s">S</a>&nbsp;
    <a href="/browse/authors/t">T</a>&nbsp;
    <a href="/browse/authors/u">U</a>&nbsp;
    <a href="/browse/authors/v">V</a>&nbsp;
    <a href="/browse/authors/w">W</a>&nbsp;
    <a href="/browse/authors/x">X</a>&nbsp;
    <a href="/browse/authors/y">Y</a>&nbsp;
    <a href="/browse/authors/z">Z</a>&nbsp;
    <a href="/browse/authors/other">other</a>&nbsp;
  </p>
  <p>Titles:
    <a href="/browse/titles/a">A</a>&nbsp;
    <a href="/browse/titles/b">B</a>&nbsp;
    <a href="/browse/titles/c">C</a>&nbsp;
    <a href="/browse/titles/d">D</a>&nbsp;
    <a href="/browse/titles/e">E</a>&nbsp;
    <a href="/browse/titles/f">F</a>&nbsp;
    <a href="/browse/titles/g">G</a>&nbsp;
    <a href="/browse/titles/h">H</a>&nbsp;
    <a href="/browse/titles/i">I</a>&nbsp;
    <a href="/browse/titles/j">J</a>&nbsp;
    <a href="/browse/titles/k">K</a>&nbsp;
    <a href="/browse/titles/l">L</a>&nbsp;
    <a href="/browse/titles/m">M</a>&nbsp;
    <a href="/browse/titles/n">N</a>&nbsp;
    <a href="/browse/titles/o">O</a>&nbsp;
    <a href="/browse/titles/p">P</a>&nbsp;
    <a href="/browse/titles/q">Q</a>&nbsp;
    <a href="/browse/titles/r">R</a>&nbsp;
    <a href="/browse/titles/s">S</a>&nbsp;
    <a href="/browse/titles/t">T</a>&nbsp;
    <a href="/browse/titles/u">U</a>&nbsp;
    <a href="/browse/titles/v">V</a>&nbsp;
    <a href="/browse/titles/w">W</a>&nbsp;
    <a href="/browse/titles/x">X</a>&nbsp;
    <a href="/browse/titles/y">Y</a>&nbsp;
    <a href="/browse/titles/z">Z</a>&nbsp;
    <a href="/browse/titles/other">other</a>&nbsp;
  </p>
  <p>Languages with more than 50 books:
    <a href="/browse/languages/zh" title="Chinese (441)">Chinese</a>&nbsp;
    <a href="/browse/languages/da" title="Danish (68)">Danish</a>&nbsp;
    <a href="/browse/languages/nl" title="Dutch (800)">Dutch</a>&nbsp;
    <a href="/browse/languages/en" title="English (48426)">English</a>&nbsp;
    <a href="/browse/languages/eo" title="Esperanto (118)">Esperanto</a>&nbsp;
    <a href="/browse/languages/fi" title="Finnish (2006)">Finnish</a>&nbsp;
    <a href="/browse/languages/fr" title="French (2964)">French</a>&nbsp;
    <a href="/browse/languages/de" title="German (1756)">German</a>&nbsp;
    <a href="/browse/languages/el" title="Greek (220)">Greek</a>&nbsp;
    <a href="/browse/languages/hu" title="Hungarian (183)">Hungarian</a>&nbsp;
    <a href="/browse/languages/it" title="Italian (759)">Italian</a>&nbsp;
    <a href="/browse/languages/la" title="Latin (122)">Latin</a>&nbsp;
    <a href="/browse/languages/pt" title="Portuguese (552)">Portuguese</a>&nbsp;
    <a href="/browse/languages/es" title="Spanish (630)">Spanish</a>&nbsp;
    <a href="/browse/languages/sv" title="Swedish (193)">Swedish</a>&nbsp;
    <a href="/browse/languages/tl" title="Tagalog (60)">Tagalog</a>&nbsp;
  </p>
  <p>Languages with up to 50 books:
    <a href="/browse/languages/af" title="Afrikaans (4)">Afrikaans</a>&nbsp;
    <a href="/browse/languages/ale" title="Aleut (1)">Aleut</a>&nbsp;
    <a href="/browse/languages/ar" title="Arabic (1)">Arabic</a>&nbsp;
    <a href="/browse/languages/arp" title="Arapaho (2)">Arapaho</a>&nbsp;
    <a href="/browse/languages/brx" title="Bodo (2)">Bodo</a>&nbsp;
    <a href="/browse/languages/br" title="Breton (1)">Breton</a>&nbsp;
    <a href="/browse/languages/bg" title="Bulgarian (6)">Bulgarian</a>&nbsp;
    <a href="/browse/languages/rmr" title="Caló (1)">Caló</a>&nbsp;
    <a href="/browse/languages/ca" title="Catalan (33)">Catalan</a>&nbsp;
    <a href="/browse/languages/ceb" title="Cebuano (3)">Cebuano</a>&nbsp;
    <a href="/browse/languages/cs" title="Czech (10)">Czech</a>&nbsp;
    <a href="/browse/languages/et" title="Estonian (1)">Estonian</a>&nbsp;
    <a href="/browse/languages/fa" title="Farsi (1)">Farsi</a>&nbsp;
    <a href="/browse/languages/fy" title="Frisian (2)">Frisian</a>&nbsp;
    <a href="/browse/languages/fur" title="Friulian (7)">Friulian</a>&nbsp;
    <a href="/browse/languages/gla" title="Gaelic, Scottish (2)">Gaelic, Scottish</a>&nbsp;
    <a href="/browse/languages/gl" title="Galician (2)">Galician</a>&nbsp;
    <a href="/browse/languages/kld" title="Gamilaraay (1)">Gamilaraay</a>&nbsp;
    <a href="/browse/languages/grc" title="Greek, Ancient (3)">Greek, Ancient</a>&nbsp;
    <a href="/browse/languages/he" title="Hebrew (6)">Hebrew</a>&nbsp;
    <a href="/browse/languages/is" title="Icelandic (7)">Icelandic</a>&nbsp;
    <a href="/browse/languages/ilo" title="Iloko (3)">Iloko</a>&nbsp;
    <a href="/browse/languages/ia" title="Interlingua (1)">Interlingua</a>&nbsp;
    <a href="/browse/languages/iu" title="Inuktitut (1)">Inuktitut</a>&nbsp;
    <a href="/browse/languages/ga" title="Irish (2)">Irish</a>&nbsp;
    <a href="/browse/languages/ja" title="Japanese (22)">Japanese</a>&nbsp;
    <a href="/browse/languages/csb" title="Kashubian (1)">Kashubian</a>&nbsp;
    <a href="/browse/languages/kha" title="Khasi (1)">Khasi</a>&nbsp;
    <a href="/browse/languages/ko" title="Korean (1)">Korean</a>&nbsp;
    <a href="/browse/languages/lt" title="Lithuanian (1)">Lithuanian</a>&nbsp;
    <a href="/browse/languages/mi" title="Maori (2)">Maori</a>&nbsp;
    <a href="/browse/languages/myn" title="Mayan Languages (2)">Mayan Languages</a>&nbsp;
    <a href="/browse/languages/enm" title="Middle English (6)">Middle English</a>&nbsp;
    <a href="/browse/languages/nah" title="Nahuatl (3)">Nahuatl</a>&nbsp;
    <a href="/browse/languages/nap" title="Napoletano-Calabrese (1)">Napoletano-Calabrese</a>&nbsp;
    <a href="/browse/languages/nav" title="Navajo (3)">Navajo</a>&nbsp;
    <a href="/browse/languages/nai" title="North American Indian (3)">North American Indian</a>&nbsp;
    <a href="/browse/languages/no" title="Norwegian (19)">Norwegian</a>&nbsp;
    <a href="/browse/languages/oc" title="Occitan (1)">Occitan</a>&nbsp;
    <a href="/browse/languages/oji" title="Ojibwa (1)">Ojibwa</a>&nbsp;
    <a href="/browse/languages/ang" title="Old English (4)">Old English</a>&nbsp;
    <a href="/browse/languages/pl" title="Polish (31)">Polish</a>&nbsp;
    <a href="/browse/languages/ro" title="Romanian (2)">Romanian</a>&nbsp;
    <a href="/browse/languages/ru" title="Russian (9)">Russian</a>&nbsp;
    <a href="/browse/languages/sa" title="Sanskrit (1)">Sanskrit</a>&nbsp;
    <a href="/browse/languages/sr" title="Serbian (4)">Serbian</a>&nbsp;
    <a href="/browse/languages/sl" title="Slovenian (1)">Slovenian</a>&nbsp;
    <a href="/browse/languages/bgs" title="Tagabawa (1)">Tagabawa</a>&nbsp;
    <a href="/browse/languages/te" title="Telugu (6)">Telugu</a>&nbsp;
    <a href="/browse/languages/cy" title="Welsh (13)">Welsh</a>&nbsp;
    <a href="/browse/languages/yi" title="Yiddish (1)">Yiddish</a>&nbsp;
  </p>
  <p>Special Categories:
    <a href="/browse/categories/2" title="Audio Book, computer-generated (370)">Audio Book, computer-generated</a>&nbsp;
    <a href="/browse/categories/1" title="Audio Book, human-read (576)">Audio Book, human-read</a>&nbsp;
    <a href="/browse/categories/9" title="Compilations (3)">Compilations</a>&nbsp;
    <a href="/browse/categories/8" title="Data (87)">Data</a>&nbsp;
    <a href="/browse/categories/3" title="Music, recorded (137)">Music, recorded</a>&nbsp;
    <a href="/browse/categories/4" title="Music, Sheet (33)">Music, Sheet</a>&nbsp;
    <a href="/browse/categories/6" title="Other recordings (31)">Other recordings</a>&nbsp;
    <a href="/browse/categories/7" title="Pictures, moving (8)">Pictures, moving</a>&nbsp;
    <a href="/browse/categories/5" title="Pictures, still (3)">Pictures, still</a>&nbsp;
  </p>
  <p>Recent:
    <a href="/browse/recent/last1">last 24 hours</a>&nbsp;
    <a href="/browse/recent/last7">last 7 days</a>&nbsp;
    <a href="/browse/recent/last30">last 30 days</a>&nbsp;
  </p>
</div>

