	</div>
     </div>	 
  <a class="button" href="#popup3">Help</a>
  <input id="collapsible2" class="toggle" type="checkbox">
  <label for="collapsible2" class="lbl-toggle">Full Text Search</label>
  <div class="collapsible-content">
    <div class="content-inner">
      <form method="get" action="https://search.yahoo.com/search">
      <img src="/pics/yahoologo.png" style="vertical-align:middle;" alt="Yahoo! logo">
      <input type="hidden" name="fr" value="cap-PG">
      <input type="hidden" name="vs" id="ysvs1" value="gutenberg.org">
      <input type="text"   name="p" size="29" placeholder="Search Yahoo!">
      <input type="submit" value="Yahoo! Search">

      </form>

      <form method="get" action="https://www.google.com/search">
        <img src="/pics/google_search.png" style="vertical-align:middle;" alt="Google logo">
        <input type="text" name="q" size="31" maxlength="255" value="" placeholder="Search Google">
        <input type="hidden" name="domains" value="gutenberg.org"/>
        <input type="hidden" name="sitesearch" value="gutenberg.org"/>
        <input type="submit" name="btnG" value="Google Search"/>

      </form>
  <form method="get" id="duck" action="https://duckduckgo.com/">
    <img src="/pics/duck.png" style="vertical-align:middle;" alt="DuckDuckGo logo">
    <input type="hidden" name="sites" value="https://www.gutenberg.org"/>
    <input type="hidden" name="k8" value="#444444"/>
    <input type="hidden" name="k9" value="#D51920"/>
    <input type="hidden" name="kt" value="h"/>
    <input type="text" name="q" maxlength="255" placeholder="Search DuckDuckGo"/>
    <input type="submit" value="DuckDuckGo Search"/>
</form>
</div>
</div>
 
