
                <a href="/ebooks/1342" title="Pride and Prejudice" data-authors="Jane Austen" target="_top">
                    <div class="cover_image">
                        <div class="cover_img">
                            <img src="/cache/epub/1342/pg1342.cover.medium.jpg" alt="" title="Pride and Prejudice" draggable="false">
                        </div>
                        <div class="cover_title">
                            <span class="h5">Pride and Prejudice by Jane Austen</span>
                        </div>
                    </div>
                </a>
                
                <a href="/ebooks/2701" title="Moby Dick; Or, The Whale" data-authors="Herman Melville" target="_top">
                    <div class="cover_image">
                        <div class="cover_img">
                            <img src="/cache/epub/2701/pg2701.cover.medium.jpg" alt="" title="Moby Dick; Or, The Whale" draggable="false">
                        </div>
                        <div class="cover_title">
                            <span class="h5">Moby Dick; Or, The Whale by Herman Melville</span>
                        </div>
                    </div>
                </a>
                
                <a href="/ebooks/1727" title="The Odyssey
Rendered into English prose for the use of those who cannot read the original" data-authors="Homer, Samuel Butler" target="_top">
                    <div class="cover_image">
                        <div class="cover_img">
                            <img src="/cache/epub/1727/pg1727.cover.medium.jpg" alt="" title="The Odyssey
Rendered into English prose for the use of those who cannot read the original" draggable="false">
                        </div>
                        <div class="cover_title">
                            <span class="h5">The Odyssey by Homer</span>
                        </div>
                    </div>
                </a>
                
                <a href="/ebooks/2641" title="A Room with a View" data-authors="E. M. Forster" target="_top">
                    <div class="cover_image">
                        <div class="cover_img">
                            <img src="/cache/epub/2641/pg2641.cover.medium.jpg" alt="" title="A Room with a View" draggable="false">
                        </div>
                        <div class="cover_title">
                            <span class="h5">A Room with a View by E. M. Forster</span>
                        </div>
                    </div>
                </a>
                
                <a href="/ebooks/2554" title="Crime and Punishment" data-authors="Fyodor Dostoyevsky, Constance Garnett" target="_top">
                    <div class="cover_image">
                        <div class="cover_img">
                            <img src="/cache/epub/2554/pg2554.cover.medium.jpg" alt="" title="Crime and Punishment" draggable="false">
                        </div>
                        <div class="cover_title">
                            <span class="h5">Crime and Punishment by Fyodor Dostoyevsky</span>
                        </div>
                    </div>
                </a>
                
                <a href="/ebooks/65238" title="The Secret of Chimneys" data-authors="Agatha Christie" target="_top">
                    <div class="cover_image">
                        <div class="cover_img">
                            <img src="/cache/epub/65238/pg65238.cover.medium.jpg" alt="" title="The Secret of Chimneys" draggable="false">
                        </div>
                        <div class="cover_title">
                            <span class="h5">The Secret of Chimneys by Agatha Christie</span>
                        </div>
                    </div>
                </a>
                
                <a href="/ebooks/1513" title="Romeo and Juliet" data-authors="William Shakespeare" target="_top">
                    <div class="cover_image">
                        <div class="cover_img">
                            <img src="/cache/epub/1513/pg1513.cover.medium.jpg" alt="" title="Romeo and Juliet" draggable="false">
                        </div>
                        <div class="cover_title">
                            <span class="h5">Romeo and Juliet by William Shakespeare</span>
                        </div>
                    </div>
                </a>
                
                <a href="/ebooks/3268" title="The Mysteries of Udolpho" data-authors="Ann Ward Radcliffe" target="_top">
                    <div class="cover_image">
                        <div class="cover_img">
                            <img src="/cache/epub/3268/pg3268.cover.medium.jpg" alt="" title="The Mysteries of Udolpho" draggable="false">
                        </div>
                        <div class="cover_title">
                            <span class="h5">The Mysteries of Udolpho by Ann Ward Radcliffe</span>
                        </div>
                    </div>
                </a>
                
                <a href="/ebooks/2465" title="Carmen" data-authors="Prosper Mérimée, Lady Mary Loyd" target="_top">
                    <div class="cover_image">
                        <div class="cover_img">
                            <img src="/cache/epub/2465/pg2465.cover.medium.jpg" alt="" title="Carmen" draggable="false">
                        </div>
                        <div class="cover_title">
                            <span class="h5">Carmen by Prosper Mérimée</span>
                        </div>
                    </div>
                </a>
                
                <a href="/ebooks/2868" title="The Green Mummy" data-authors="Fergus Hume" target="_top">
                    <div class="cover_image">
                        <div class="cover_img">
                            <img src="/cache/epub/2868/pg2868.cover.medium.jpg" alt="" title="The Green Mummy" draggable="false">
                        </div>
                        <div class="cover_title">
                            <span class="h5">The Green Mummy by Fergus Hume</span>
                        </div>
                    </div>
                </a>
                