.icon_flattr {
  background-position: 0px 0px;
  width: 93px;
  height: 20px;
}

.icon_paypal {
  background-position: 0px -21px;
  width: 92px;
  height: 26px;
}

.icon_logo {
  background-position: 0px -48px;
  width: 72px;
  height: 72px;
}

.icon_logo_yellow {
  background-position: 0px -121px;
  width: 72px;
  height: 72px;
}

.icon_gdrive {
  background-position: 0px -194px;
  width: 24px;
  height: 21px;
}

.icon_msdrive {
  background-position: -25px -194px;
  width: 24px;
  height: 24px;
}

.icon_random {
  background-position: -50px -194px;
  width: 22px;
  height: 22px;
}

.icon_bsky {
  background-position: -72px -194px;
  width: 22px;
  height: 22px;
}

.icon_subject {
  background-position: 0px -219px;
  width: 22px;
  height: 22px;
}

.icon_back {
  background-position: -23px -219px;
  width: 22px;
  height: 22px;
}

.icon_bibrec {
  background-position: -46px -219px;
  width: 22px;
  height: 22px;
}

.icon_date {
  background-position: -69px -219px;
  width: 22px;
  height: 22px;
}

.icon_external {
  background-position: 0px -242px;
  width: 22px;
  height: 22px;
}

.icon_book_no_images {
  background-position: -23px -242px;
  width: 22px;
  height: 22px;
}

.icon_home {
  background-position: -46px -242px;
  width: 22px;
  height: 22px;
}

.icon_bookshelf {
  background-position: -69px -242px;
  width: 22px;
  height: 22px;
}

.icon_alpha {
  background-position: 0px -265px;
  width: 22px;
  height: 22px;
}

.icon_download {
  background-position: -23px -265px;
  width: 22px;
  height: 22px;
}

.icon_rss {
  background-position: -46px -265px;
  width: 22px;
  height: 22px;
}

.icon_search {
  background-position: -69px -265px;
  width: 22px;
  height: 22px;
}

.icon_language {
  background-position: 0px -288px;
  width: 22px;
  height: 22px;
}

.icon_author {
  background-position: -23px -288px;
  width: 22px;
  height: 22px;
}

.icon_print {
  background-position: -46px -288px;
  width: 22px;
  height: 22px;
}

.icon_audiobook {
  background-position: -69px -288px;
  width: 22px;
  height: 22px;
}

.icon_alias {
  background-position: 0px -311px;
  width: 22px;
  height: 22px;
}

.icon_dropbox {
  background-position: -23px -311px;
  width: 22px;
  height: 22px;
}

.icon_internal {
  background-position: -46px -311px;
  width: 22px;
  height: 22px;
}

.icon_suggestion {
  background-position: -69px -311px;
  width: 22px;
  height: 22px;
}

.icon_popular {
  background-position: 0px -334px;
  width: 22px;
  height: 22px;
}

.icon_folder {
  background-position: -23px -334px;
  width: 22px;
  height: 22px;
}

.icon_quantity {
  background-position: -46px -334px;
  width: 22px;
  height: 22px;
}

.icon_book {
  background-position: -69px -334px;
  width: 22px;
  height: 22px;
}

.icon_more {
  background-position: 0px -357px;
  width: 22px;
  height: 22px;
}

.icon_masto {
  background-position: -23px -357px;
  width: 20px;
  height: 20px;
}

.icon_facebook {
  background-position: -44px -357px;
  width: 20px;
  height: 20px;
}

.icon_twitter {
  background-position: -65px -357px;
  width: 20px;
  height: 20px;
}

.icon_help {
  background-position: 0px -380px;
  width: 16px;
  height: 16px;
}

.icon_next {
  background-position: -17px -380px;
  width: 16px;
  height: 16px;
}

.icon_smsearch {
  background-position: -34px -380px;
  width: 16px;
  height: 16px;
}

.icon_cancel {
  background-position: -51px -380px;
  width: 16px;
  height: 16px;
}

.icon_qrtab {
  background-position: -68px -380px;
  width: 14px;
  height: 14px;
}

.icon_external_link {
  background-position: -83px -380px;
  width: 10px;
  height: 10px;
}