/* CSS from new_nav.css ------------------------------------------------------------------------------------------------*/
/*Strip the ul of padding and list styling*/
nav {
  left: 0;
  padding: 0 10vw 0 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  height: 3.6em;
  font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
}

#main_logo {
  top: 0;
  left: 0;
  position: absolute;
}

nav .searchbox {
  position: relative;
  float: left;
  width: 28em;
  padding: 0.2em;
}

nav .donatelink {
  padding: 0.4em;
}

nav .searchbox input[type=text] {
  height: 1.8em;
  width: 18em;
  border-radius: 1em;
  color: black;
  background-color: #f5f5f5;
  padding-right: 0.3em;
  padding-left: 0.3em;
  border: none;
}

/* !!!!!!! below 2 rules Dupulicate with input in style.css */
nav .searchbox input[type="submit"]:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

nav .searchbox input[type="submit"] {
  color: #fff;
  text-decoration: none;
  background: #60a3bc;
  padding: 0.4em;
  border-radius: 2em;
  display: inline-block;
  border: none;
}

nav .donate {
  color: black;
  font-size: 0.7em;
  width: 115%;
  margin-top: 3.6em;
  margin-left: 129px;
  height: 3.6em;
}

nav .donate p {
  margin: 0px 10px 0px 15px;
  display: inline;
  font-size: 1.39em;
  position: relative;
  top: 0.2em;
}

nav .donate .donbtn {
  display: inline-block;
  cursor: pointer;
  vertical-align: text-top;
}

nav .donate a:link {
  text-decoration: underline;
}

nav .donate a:hover {
  background: #BDAE92;
  color: #fff;
  /* white */
}

@media screen and

/*(orientation: portrait)*/
(max-width : 1024px) {
  nav {
    height: auto;
    font-size: 12px;
    position: absolute;
  }

  nav .donate {
    display: none;
  }

  nav .searchbox {
    margin-left: 2em;
    float: left;
    display: inline-block;
    padding: 0.2em;
  }
}

#menu {
  margin-left: 140px;
  font-weight: bold;
}

#menu a {
  text-decoration: none;
}

#menu ul {
  margin: 0;
  padding: 0;
}

#menu .main-menu {
  display: none;
}

#tm:checked+.main-menu {
  display: block;
}

#menu input[type="checkbox"],
#menu ul span.drop-icon {
  display: none;
}

#menu li,
#toggle-menu,
#menu .sub-menu {
  border-style: solid;
  border-color: rgba(0, 0, 0, .05);
}

#menu li,
#toggle-menu {
  border-width: 0 0 1px;
}

#menu .sub-menu {
  border-width: 1px 1px 0;
  margin: 0 1em;
}

#menu .sub-menu li:last-child {
  border-width: 0;
}

#menu li,
#toggle-menu,
#menu a {
  position: relative;
  display: block;
  color: black;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .125);
}

/*#toggle-menu {
    background: #333;
  }*/

#toggle-menu,
#menu a {
  padding: 5px 1.5em;
}

#menu a {
  transition: all .125s ease-in-out;
  -webkit-transition: all .125s ease-in-out;
}

#menu .sub-menu {
  display: none;
}

#menu input[type="checkbox"]:checked+.sub-menu {
  display: block;
}

#menu .sub-menu a:hover {
  color: #444;
}

#toggle-menu .drop-icon,
#menu li label.drop-icon {
  position: absolute;
  right: 0;
  top: 0;
}

#menu label.drop-icon,
#toggle-menu span.drop-icon {
  padding: 1em;
  font-size: 1em;
  text-align: center;
  background-color: rgba(0, 0, 0, .125);
  text-shadow: 0 0 0 transparent;
  color: rgba(255, 255, 255, .75);
}

@media only screen and (max-width: 1200px) and (min-width:1024px) {}

@media only screen and (min-width: 1024px) {

  /*TESTING_____________________*/
  #menu .main-menu>li:last-child {
    display: none;
  }

  #menu .main-menu {
    display: block;
  }

  #toggle-menu,
  #menu label.drop-icon {
    display: none;
  }

  #menu ul span.drop-icon {
    display: inline-block;
  }

  #menu li {
    float: left;
    border-width: 0 1px 0 0;
  }

  #menu .sub-menu li {
    float: none;
  }

  #menu .sub-menu {
    border-width: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: max-content;
    z-index: 3000;
    max-height: 80vh;
    overflow-y: auto;
    font-weight: normal;
  }

  #menu .sub-menu,
  #menu input[type="checkbox"]:checked+.sub-menu {
    display: none;
  }

  #menu .sub-menu li {
    border-width: 0 0 1px;
    background-color: #f0e1c5;
    /*width: max-content;*/
  }

  #menu .sub-menu .sub-menu {
    top: 0;
    left: 100%;
  }

  #menu .sub-menu .drop-icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
  }

  #menu li:hover>input[type="checkbox"]+.sub-menu {
    display: block;
  }
}


/* Put theme-specific colors here to make it easy to switch between themes */
/* ORIGINAL THEME */
/* nav {
    background-color: #EDDAB7;
    color: #000000;
  }
  #menu {
    background-color: #EDDAB7;
  }
  #menu .main-menu {
    background-color: #EDDAB7;
  }
  #menu a:hover {
    color: #27778f;
  }
  @media only screen and (min-width: 1024px) {
    #menu .main-menu li {
      background-color: #EDDAB7;
    }
  }
  #menu .sub-menu {
    background-color: #EDDAB7;
  }
  #menu .sub-menu li {
    background-color: #f0e1c5;
  }
  nav .donate {
    background-color: #F5ECDB;
  } */


/* BLUE THEME */

nav {
  background-color: #7ebed0;
  color: #000000;
}

#menu {
  background-color: #7ebed0;
}

#menu .main-menu {
  background-color: #7ebed0;
}

#menu a:hover {
  color: #fff;
  transition: all 0.4s ease 0s;
}

@media only screen and (min-width: 1024px) {
  #menu .main-menu li {
    background-color: #7ebed0;
  }
}

#menu .sub-menu {
  background-color: #7ebed0;
}

#menu .sub-menu li {
  background-color: #a3cdda;
}

nav .donate {
  background-color: #c7dde3;
}



/* GOLD THEME */
/*  
  nav {
    background-color: #edd194;
    color: #000000;
  }
  #menu {
    background-color: #edd194;
  }
  #menu .main-menu {
    background-color: #edd194;
  }
  #menu a:hover {
    color: #27778f;
  }
  @media only screen and (min-width: 1024px) {
    #menu .main-menu li {
      background-color: #edd194;
    }
  }
  #menu .sub-menu {
    background-color: #edd194;
  }
  #menu .sub-menu li {
    background-color: #f0dca9;
  }
  nav .donate {
    background-color: #f3e8be;
  }
  
  */


/* CSS from collapisble.css------------------------------------------------------------------------------------------- */

.lbl-toggle {
  display: block;

  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: left;

  padding: 1rem;

  color: #9b8053;
  /*background: #FAE042;*/

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #7C5A0B;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.collapsible-content .content-inner {
  background: #F5ECDB;
  border-bottom: 1px solid rgba(250, 224, 66, .45);

  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;

  transition: max-height .25s ease-in-out;
}

/* only hide checkbox using id start with "collapsible" (on search page) */
input[id^="collapsible"] {
  display: none;
}

.toggle:checked+.lbl-toggle+.collapsible-content {
  max-height: 500px;
}

.toggle:checked+.lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked+.lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.content-inner input[type="text"] {
  width: 400px;
}

.content-inner p {
  display: table-row;
}

.content-inner label {
  display: table-cell;

}

.content-inner input {
  display: table-cell;
  margin-bottom: 20px;
}

.content-inner select {
  display: table-cell;
  margin-bottom: 20px;
  width: 400px;
}

.search {
  display: table;
}

.search p {
  display: table-row;
}

.search label {
  display: table-cell;
}

/*.search input{
    display: table-cell;
  }*/
.search input[type="text"] {
  height: 28px;
  width: 250px;
  border-radius: 8px;
  color: #0d0908;
  background-color: #60a3bc30;
  padding-right: 10px;
  padding-left: 10px;
  border: none;
}

.box {
  /*width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;*/
}

/*!!!!!!!!!!!! Should be more specific. This is the help button on search page */
.page_content a.button {
  font-size: 1em;
  font-weight: bold;
  padding: 10px;
  color: #b1635d;
  /*border: 2px solid #a28961;*/
  border-radius: 50px/50px;
  /*border-radius: 25px;*/
  text-decoration: none;
  background: #f4eee3;
  cursor: pointer;
  transition: all 0.3s ease-out;
  display: inline;
  float: right;
}

.page_content a.button:hover {
  /*background: #06D85F;*/
  background: #cbb582;
  text-decoration: none;
  color: #954645;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
  overflow: auto;
}

.popup {
  margin: 150px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;

  transition: all 5s ease-in-out;
}


.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }

  .popup {
    width: 70%;
  }
}

/* CSS from style.css ---------------------------------------------------------------------------------------------------------- */

html,
body {
  background-color: #FFFFFF;
  /* #FFFCD7; */
  color: #000000;
  /* #A01F13; */
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  letter-spacing: 0.01mm;
  margin: 0;
  max-width: 100vw;
  padding: 0;
  width: 100%;
  height: 100%;
}

html {
  overflow-y: scroll;
}

input[type="submit"] {
  color: #fff;
  text-decoration: none;
  background: #60a3bc;
  padding: 6px;
  border-radius: 45px 45px;
  display: inline-block;
  border: none;
}

input[type="submit"]:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

/* links */
a:link {
  color: currentColor;
  text-decoration: none;
}

a:visited {
  color: currentColor;
}

a:hover {
  color: currentColor;
  text-decoration: underline;
}

a:active {
  color: currentColor;
}

.no-hover:hover {
  text-decoration: none;
}

/* text selection
  ::-moz-selection {
      background-color: #0a0a0a;
      color: #ffffff;
  }
  
  ::selection {
      background-color: #0a0a0a;
      color: #ffffff;
  }*/

.no-select {
  user-select: none;
}

/* animations */
/* .fadein {
      animation: fadein 1s;
  }
  
  @-moz-keyframes fadein {
      from {
          opacity: 0;
      }
  
      to {
          opacity: 1;
      }
  }
  
  @-webkit-keyframes fadein {
      from {
          opacity: 0;
      }
  
      to {
          opacity: 1;
      }
  }
  
  @keyframes fadein {
      from {
          opacity: 0;
      }
  
      to {
          opacity: 1;
      }
  }
  
  .fadeinup {
      animation: fadeInUp 1s both ease;
  }
  
  @-moz-keyframes fadeInUp {
      from {
          opacity: 0;
          transform: translate3d(0, 40px, 0);
      }
  
      to {
          opacity: 1;
          transform: translate3d(0, 0, 0);
      }
  }
  
  @-webkit-keyframes fadeInUp {
      from {
          opacity: 0;
          transform: translate3d(0, 40px, 0);
      }
  
      to {
          opacity: 1;
          transform: translate3d(0, 0, 0);
      }
  }
  
  @keyframes fadeInUp {
      from {
          opacity: 0;
          transform: translate3d(0, 50px, 0);
      }
  
      to {
          opacity: 1;
          transform: translate3d(0, 0, 0);
      }
  } */

/* ==================================================
  container */
.container {
  max-width: 100%;
  min-height: 75vh;
  position: relative;
}

@media screen and (orientation: landscape) {
  .container {
    min-height: 75vh;
    padding: 10vh 5vw;

  }

}

@media screen and (orientation: portrait) {
  .container {
    min-height: 75vh;
    padding: 10vh 5vw;
  }

}

/*.content h1 {
      margin-top:40px;
  }*/

/*   
  .desc {
      color: #808080;
      font-size: 20px;
      font-weight: 200;
  } */

ul {
  list-style-type: "\2022";
  margin: 0;
  padding-left: 10px;
}



/* ==================================================
  library */
.library .latest {
  white-space: nowrap;
  width: 100%;
}

.library .latest::-webkit-scrollbar {
  height: 3px;
}

.library .latest::-webkit-scrollbar-track {
  background-color: #cccccc
}

.library .latest::-webkit-scrollbar-thumb {
  background-color: #333333
}

.library .latest a {
  display: inline-block;
  margin: 0;
  padding: 10px
}

.library .latest h1 {
  /*font-size: 30px;
      font-weight: bold;*/
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}

.library .latest a:hover {
  background-color: transparent;
}

/* .bookshelves {
      margin: 0 auto;
      padding: 0;
      width: 100%;
  }
  
  .bookshelves ul {
  column-count: 3;
      column-gap: 0px;
      cursor: default;
      width: 100%;
      height: 620px;
   }
   .bookshelves > ul li::before {
      color: #A01F13;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
  }  */

/*.bookshelves ul li {
      color: #808080;
      display: inline-block;
      margin-bottom: 0px;
      padding-right: 10%;
      width: 90%;
  }*/

/* .page_content .bookshelves h2 {
      border-bottom: 0px none #FFFFFF;
  } */
/*.library .bookshelves h2:hover,
  .library .bookshelves ul li:hover {
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      color: #000000;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-in-out;
  }
  */


/* !!!!!!this rule is not applied in HTML because the class is not correct; Shouldn't be applied either */
.page_content.library .lib {
  margin-bottom: 50px;
}

/*@media only screen and (max-width: 1200px),
  only screen and (max-device-width: 1200px) {
      .library .bookshelves ul {
          -moz-column-count: 2;
          -moz-column-gap: 0px;
          -webkit-column-count: 2;
          -webkit-column-gap: 0px;
          column-count: 2;
          column-gap: 0px;
      }
  }
  
  @media only screen and (max-width: 1000px),
  only screen and (max-device-width: 1000px) {
      .library .bookshelves ul {
          -moz-column-count: 1;
          -moz-column-gap: 0px;
          -webkit-column-count: 1;
          -webkit-column-gap: 0px;
          column-count: 1;
          column-gap: 0px;
      }
  
      .library .bookshelves ul li {
          padding-right: 0;
          width: 100%;
      }
  }
  */
/* ================================================== Cannot find book class in HTML
  book */
/* .book-container {
      align-items: center;
      justify-content: center;
      margin: 50px;
      max-width: 1000px;
  }
  
  @media only screen and (min-width: 1001px) {
      .book-container {
          display: flex;
      }
  }
  
  .book.page_content {
      background-color: #f5f5f5;
      box-shadow: none;
      padding: 50px;
      transition: box-shadow 0.2s ease-in-out, background-color 0.5s ease-in-out;
  }
  
  .book.page_content:hover {
      background-color: #ffffff;
      box-shadow: 0 25px 75px rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.2s ease-in-out, background-color 0.5s ease-in-out;
  }
  
  .book .section {
      display: table-cell;
      padding: 10px;
  }
  
  .book .cover img {
      box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
      max-height: 200px;
      max-width: 150px;
      vertical-align: top;
  }
  
  .book .details .id {
      font-family: Consolas, Courier, monospace;
  }
  .book .bib_rec li h4 {
      font-size: 15px;
      display: inline;
  }
  .book .bib_rec ul {
      list-style: square inside;
  }
  
  @media only screen and (min-width: 1001px) {
      .book .download {
          width: 75px;
      }
      .book .download{
          line-height: 25px;
          width:130px;
      }
      .book .download a li{
          display: block;
      }
      .book .download ul{
          list-style: square inside;
      }
  
      .book .share {
          line-height:25px;
          width: 20px;
          word-wrap: break-word;
      }
  
      .book .share a {
          display: block;
          margin: 10px 0;
      }
  }
  
  @media only screen and (max-width: 1000px) {
      .book .section {
          display: block;
          text-align: center;
      }
  
      .book h1 {
          text-align: center;
      }
  
      .book .download a {
          display: inline-block;
          text-align: center;
          width: 20%;
          max-width: 75px;
      }
  
      .book .share a {
          display: inline-block;
          margin: 5px;
      }
  }
  
  .book .share a {
      background: #000000;
      border-radius: 50%;
      color: #ffffff;
      font-size: 13px;
      height: 20px;
      text-align: center;
      width: 20px;
  }
  
  .share-icon img {
      height: 20px;
      width: 20px;
  } */


/* ==================================================
  about */
/* .about {
      column-count: 2;
      column-gap: 0px;
      margin: 0 auto;
  }
  
  .about p,
  .about a {
      color: #808080;
      display: inline-block;
      font-size: 15px;
      font-weight: 200;
      margin-bottom: 0px;
      padding-right: 10%;
      width: 90%;
  }
  
  .about p.quote {
      color: #000000;
      font-style: italic;
      font-weight: 500;
      padding-left: 5%;
      width: 85%;
  }
  
  .about a {
      text-decoration: underline;
  } */

/*@media only screen and (max-width: 1200px),
  only screen and (max-device-width: 1200px) {
      .about {
          -moz-column-count: 1;
          -moz-column-gap: 0px;
          -webkit-column-count: 1;
          -webkit-column-gap: 0px;
          column-count: 1;
          column-gap: 0px;
      }
  
      .about p {
          width: 100%;
          padding-right: 0;
      }
  
      .about p.quote {
          width: 95%;
      }
  }*/
.page_content {
  margin-top: 40px;
  padding-bottom: 30px;
}

/* .page_content figure {
      border: 3px solid #ddd;
      border-radius: 5px;
          padding: 10px;
      max-width: 100%;
      height: auto;
      float:right;
      text-align:center;
  }
  .page_content figure img {
      width:100%;
      vertical-align:baseline;
  } */
/*.thumbnail a {
      text-align:center;
  }*/
.box_shadow {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1ex 1em;
}

/*.page_content .page_heading {
      font-size: 30px;
      font-weight: bold;
      color:#A01F13;
  }*/
.page_content h1::before {
  display: block;
  content: "";
  visibility: hidden;
  pointer-events: none;
}

.page_content h1 {
  font-size: 1.875em;
  font-weight: bold;
  margin-top: 2em;
  width: 100%;
}

.page_content .header h1 {
  margin-top: 3.5em;
}

.page_content h2::before {
  display: block;
  content: "";
  visibility: hidden;
  pointer-events: none;
}

.page_content h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  text-align: left;
}

.page_content h3::before {
  display: block;
  content: "";
  margin-top: -120px;
  height: 120px;
  visibility: hidden;
  pointer-events: none;
}

.page_content>ul li::before {
  color: #A01F13;
  display: inline-block;
  width: 1em;
  /*margin-left: -1em;*/
  /*font-size: small;*/
}

@media only screen and (min-width: 750px) {
  .page_content>ul li::before {
    font-size: small;
  }

  /* .bookshelves > ul li::before {
          font-size: small;
      } */
}

.page_content ul li {
  /* list-style: none; */
  padding: 5px;
}

/*.page_content ul {
      list-style: square;
  }*/

.page_content p {
  /*color: #999999;*/
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.page_content a:link {
  color: #003366;
  text-decoration: underline;
}

.page_content a:visited {
  color: #3E444D;
}

.page_content a:hover {
  color: currentColor;
  /*background:#E7E292;*/
  text-decoration: underline;
  /*background: #BDAE92;*/
}

.page_content a:active {
  color: brown;
}


.page-body {
  padding-top: 1px;
}


/* .anchor a {
      top:-80px;
  
  } */
/* .contents {
      background-color: #f9f9f9;
      border: 1px solid #a2a9b1;
      padding: 5px;
      display: inline-block;
  }
  
  .contents ol .inner_1 {
      list-style-type: lower-roman;
  }
  .contents ol .inner_2 {
      list-style-type: lower-alpha;
  }
  pre {
      border: 1px dashed #2f6fab;
      background-color: #f9f9f9;
      padding: 1em;
  } */
table {
  border-collapse: collapse;
}

table,
th,
td {
  background-color: #f8f9fa;
  color: #222;
  margin: 1em 0;
  border: 1px solid #a2a9b1;
}

/*table > * > tr > th{
  border: 1px solid #a2a9b1;
  text-align:center;
  }*/

/* .search_category li {
      display: inline-block;
  }
  .search_category a {
      font-weight: bold;
  } */


/* This is for the social media icons on main page bottom */
ul.icon-list {
  list-style-type: none;
}

ul.icon-list li {
  display: inline-block;
  padding: 30px;
  font-size: 1.3em;
}

/* ==================================================
  footer */
.footer {
  position: inherit;
  left: 0;
  right: 0;
  bottom: -32px;
  text-align: center;
  font-size: 0.9em;
  width: 100%;
}

.footer ul li {
  display: inline-block;
  padding: 10px;
}

.footer img {
  vertical-align: baseline;
}

.cover_title h5 {
  white-space: break-spaces;
  overflow: hidden;
  height: 5em;
  text-decoration: none;
  text-align: center;
  position: absolute;
  width: 100px;
  background-color: #d9eaef;
}

.cover_title h5:hover {
  overflow-y: visible;
  height: auto;

}

.cover_image img {
  height: 150px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.cover_image {
  height: 250px;
  width: 100px;
}

/*.cover_image h5 {
      white-space: break-spaces;
      overflow-y: auto;
      height: 100px;
  }*/

/*=====CLASS RULES IMPLEMENTED in pg-desktop-one.css========*/
ul.results li::before {
  content: unset;
}

@media only screen and (max-width: 750px) {
  container {
    left: 0;
    padding: 10% 10vw;
    position: relative;
    right: 0;
    width: 80vw;

  }

  /*.content {
          margin-top: 180px;
      }*/
  .library .latest h1 {
    font-size: 18px;
  }

  .page_content {
    margin-top: 60px;
    height: auto;
  }

  .page_content h1 {
    font-size: 1.125em;
    text-align: center;
  }

  .page_content h2 {
    font-size: 1em;
    text-align: center;
  }

  body {

    font-size: 1em;
  }

  .bookshelves ul {
    column-count: 1;
    column-gap: 0px;
    cursor: default;
    width: 100%;
    height: unset;

    /*.page_content img{
          width: 50%;
          height: 50%;
      }*/
  }

  .cover_title h5 {
    overflow-y: scroll;
    height: 100px;
  }

}

/*New Cover_image rules only applicable to test_index for latest covers from gutenberg1*/
.library .latest a {
  vertical-align: top;
}

.library .latest a:link {
  text-decoration: none;
}

/* duplicate with line 671 in style.css */
/* .library .latest a:hover h5 {
      overflow-y: visible;
      height: auto;
  } */
/*Old Cover image rules orginally declated in CoverPages.py on autocat3. Keep them so it doesn't break anything if it is used somewhere else on autocat3.*/
.cover-thumb {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
}

.cover-thumb-small {
  width: 100px;
  height: 150px;
}

.cover-thumb-medium {
  width: 210px;
  height: 310px;
}

.box_announce {
  padding: 0em 1em;
}

/* Different HTML for mobile and Desktop display */

#standard {
  display: block;
}

#mobile {
  display: none;
}

@media screen and

/*(orientation: portrait)*/
(max-width : 1024px) {
  #standard {
    display: none;
  }

  #mobile {
    display: block !important;
  }
}

/* Put theme-specific colors here to make it easy to switch between themes */
/* ORIGINAL THEME */
/*
  library .latest h1 {
      color: #A01F13;
      border-bottom: 2px solid #A01F13;
  }
  .box_shadow {
      background-color: #F5ECDB;
      border: 1px solid #eddab7;
  }
  .box_announce {
      background-color: #f2dede;
      border: 1px solid #ebccd1;
  }
  .page_content h1 {
      color: #A01F13;
  }
  .page_content h2 {
      color: #A01F13;
  }
  */

/* BLUE THEME */

.library .latest h1 {
  color: #A01F13;
  border-bottom: 2px solid #A01F13;
}

.box_shadow {
  background-color: #d9eaef;
  border: 1px solid #b2c3c4;
}

.box_announce {
  background-color: #f2dede;
  border: 1px solid #ebccd1;
}

.page_content h1 {
  color: #aa873b;
}

.page_content h2 {
  color: #9b8053;
}

.page_content h2.subtitle {
  color: #9b8053;
}

.page_content a:hover {
  background: #C7DDE3;
}

.footer {
  background-color: #f0efea;
}

.footer a:link,
.footer a:visited,
.footer a:hover,
.footer a:active {
  color: #006479;
}



/* GOLD THEME */
/*
  library .latest h1 {
      color: #A01F13;
      border-bottom: 2px solid #A01F13;
  }
  .box_shadow {
      background-color: #f3e8be;
      border: 1px solid #eddab7;
  }
  .box_announce {
      background-color: #f9dabf;
      border: 1px solid #f4c398;
  }
  .page_content h1 {
      color: #967f38;
  }
  .page_content h2 {
      color: #967f38;
  }
  .page_content h2.subtitle {
      color: #9a7000;
  }
  .footer {
      border-top: 3px solid #e2cc93;
  }
  .footer a:link, .footer a:visited, .footer a:hover, .footer a:active  {
      color: #006479;
  }
  */

/* CSS from pg-desktop-one.css------------------------------------------------------------------ */

/* search page */

#search {
  padding: 0.5em 0.5em;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

li.navlink {
  display: inline-block;
  padding: 0.1em 1.5em;
}

.cell {
  padding: 0.2em 1.2em;
}

.cell.leftcell {
  float: left;
  vertical-align: top;
}

.cell.content {
  display: block;
  margin-left: 50px;
  padding-left: 1em;
  color: #a01f13;
}

.cell.content:hover {
  color: #8d770b;
}

span.title {
  display: block;
  font-weight: bold;
}

a span.title {
  text-decoration: underline;
}

span.subtitle {
  display: block;
  color: black;
}

/* all icons dislpay */

.icon_flattr {
  background-position: 0px 0px;
  width: 93px;
  height: 20px;
}

.icon_paypal {
  background-position: 0px -21px;
  width: 92px;
  height: 26px;
}

.icon_logo {
  background-position: 0px -48px;
  width: 72px;
  height: 72px;
}

.icon_logo_yellow {
  background-position: 0px -121px;
  width: 72px;
  height: 72px;
}

.icon_gdrive {
  background-position: 0px -194px;
  width: 24px;
  height: 21px;
}

.icon_msdrive {
  background-position: -25px -194px;
  width: 24px;
  height: 24px;
}

.icon_random {
  background-position: -50px -194px;
  width: 22px;
  height: 22px;
}

.icon_subject {
  background-position: 0px -219px;
  width: 22px;
  height: 22px;
}

.icon_back {
  background-position: -23px -219px;
  width: 22px;
  height: 22px;
}

.icon_bibrec {
  background-position: -46px -219px;
  width: 22px;
  height: 22px;
}

.icon_date {
  background-position: -69px -219px;
  width: 22px;
  height: 22px;
}

.icon_external {
  background-position: 0px -242px;
  width: 22px;
  height: 22px;
}

.icon_book_no_images {
  background-position: -23px -242px;
  width: 22px;
  height: 22px;
}

.icon_home {
  background-position: -46px -242px;
  width: 22px;
  height: 22px;
}

.icon_bookshelf {
  background-position: -69px -242px;
  width: 22px;
  height: 22px;
}

.icon_alpha {
  background-position: 0px -265px;
  width: 22px;
  height: 22px;
}

.icon_download {
  background-position: -23px -265px;
  width: 22px;
  height: 22px;
}

.icon_rss {
  background-position: -46px -265px;
  width: 22px;
  height: 22px;
}

.icon_search {
  background-position: -69px -265px;
  width: 22px;
  height: 22px;
}

.icon_language {
  background-position: 0px -288px;
  width: 22px;
  height: 22px;
}

.icon_author {
  background-position: -23px -288px;
  width: 22px;
  height: 22px;
}

.icon_print {
  background-position: -46px -288px;
  width: 22px;
  height: 22px;
}

.icon_audiobook {
  background-position: -69px -288px;
  width: 22px;
  height: 22px;
}

.icon_alias {
  background-position: 0px -311px;
  width: 22px;
  height: 22px;
}

.icon_dropbox {
  background-position: -23px -311px;
  width: 22px;
  height: 22px;
}

.icon_internal {
  background-position: -46px -311px;
  width: 22px;
  height: 22px;
}

.icon_suggestion {
  background-position: -69px -311px;
  width: 22px;
  height: 22px;
}

.icon_popular {
  background-position: 0px -334px;
  width: 22px;
  height: 22px;
}

.icon_folder {
  background-position: -23px -334px;
  width: 22px;
  height: 22px;
}

.icon_quantity {
  background-position: -46px -334px;
  width: 22px;
  height: 22px;
}

.icon_book {
  background-position: -69px -334px;
  width: 22px;
  height: 22px;
}

.icon_more {
  background-position: 0px -357px;
  width: 22px;
  height: 22px;
}

.icon_masto {
  background-position: -23px -357px;
  width: 20px;
  height: 20px;
}

.icon_facebook {
  background-position: -44px -357px;
  width: 20px;
  height: 20px;
}

.icon_twitter {
  background-position: -65px -357px;
  width: 20px;
  height: 20px;
}

.icon_help {
  background-position: 0px -380px;
  width: 16px;
  height: 16px;
}

.icon_next {
  background-position: -17px -380px;
  width: 16px;
  height: 16px;
}

.icon_smsearch {
  background-position: -34px -380px;
  width: 16px;
  height: 16px;
}

.icon_cancel {
  background-position: -51px -380px;
  width: 16px;
  height: 16px;
}

.icon_qrtab {
  background-position: -68px -380px;
  width: 14px;
  height: 14px;
}

.icon_external_link {
  background-position: -83px -380px;
  width: 10px;
  height: 10px;
}

/* Autocat result page */

h1 .icon {
  float: left;
  margin-left: 20px
}

ul.results {
  display: block;
  margin: 3em 0.5em 0 0.5em;
  list-style-type: none;
  padding-left: 0;
  column-width: 20em;
  column-gap: 1em;
  column-rule: 1px solid #cfcaaf;
}

ul.results li {
  break-inside: avoid-column;
  display: table;
  width: 100%;
}

ul.results li.h2,
ul.results li.statusline {
  background: #eceadf;
  color: inherit;
  background-color: #eceadf;
}

ul.results li .padded {
  padding: 0.5em 0.5em;
}

ul.results li a.link {
  display: block;
  text-decoration: none;
}

div.breadcrumbs,
div.header,
div.footer {
  clear: both;
}

/* Bibrec page---------------------------------------------------------------------------------------- */

div.breadcrumbs>ul {
  padding: 0;
  list-style: none outside none;
}

div.breadcrumbs>ul>li {
  display: inline-block;
}

div.breadcrumbs>ul>li.next:before {
  content: "›";
}

#cover-social-wrapper {
  /*left:0;*/
  width: 200px;
  float: left;
  /*margin:0 1em;*/
}

#cover {
  width: 200px;
}

#cover img {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

#no-cover {
  width: 200px;
  height: 300px;
  border: 1px solid gray;
}

#no-cover>div.icon {
  position: relative;
  top: 139px;
  left: 89px;
}

#no-cover>div.text {
  text-align: center;
}

#social {
  margin-top: 2em;
}

#social>ul {
  padding: 0;
  list-style: none outside none;
}

#social>ul>li {
  display: inline-block;
}

#qr {
  margin-top: 2em;
}

.qrcode {
  display: inline-block;
  width: 116px;
  height: 116px;
}

.qrcode.qrcode-desktop {
  background-position: 0 0;
}

.qrcode.qrcode-mobile {
  background-position: -120px 0;
}

#tabs-wrapper {
  margin: 0 1em 0 200px;
}

#tabs {
  margin-left: 2em;
}

/* download table style */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-top-left-radius: 0.5em;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  border-top-right-radius: 0.5em;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-bottom-left-radius: 0.5em;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-bottom-right-radius: 0.5em;
}

.ui-widget {
  font-size: inherit;
  font-family: inherit;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-size: inherit;
  font-family: inherit;
}

.ui-widget-header {
  border: none;
  background: transparent;
}

.ui-widget-content {
  background: #eceadf;
}

.ui-tabs {
  border: none;
  background: transparent;
}

.ui-tabs a:focus {
  outline: none;
}

.ui-tabs a:active {
  outline: none;
}

.ui-tabs ul.ui-tabs-nav {
  margin-left: 1em;
}

.ui-tabs ul.ui-tabs-nav li {
  margin-right: 1em;
  text-decoration: underline;
  overflow: hidden;
}

.ui-tabs ul.ui-tabs-nav li.ui-tabs-selected {
  background: #eceadf;
  color: inherit;
  background-color: #eceadf;
  top: 1px;
  text-decoration: none;
}

.ui-tabs ul.ui-tabs-nav li a {
  display: block;
  background-color: transparent;
  text-decoration: inherit;
}

.ui-tabs ul.ui-tabs-nav li a span.icon {
  margin-right: 0.5em;
}

.ui-tabs div.ui-tabs-panel {
  border: 1px solid #d9d6c4;
  background: #eceadf;
  color: inherit;
  background-color: #eceadf;
  padding: 0 1em 1em 1em;
  border-radius: 0.5em;
}

.ui-autocomplete {
  border-radius: 0;
}

.ui-autocomplete .ui-menu-item a {
  border-radius: 0;
}

.hstrut {
  /* clear:both; */
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

/* Bibrec table style */

table.bibrec,
table.files,
table.results,
table.helpbox,
table.pg_social,
table.social {
  width: 100%;
  background-color: white;
  border: 1px solid #d9d6c4;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}

.narrow {
  width: 1%;
}

table.bibrec caption,
table.files caption,
table.results caption,
table.helpbox caption,
table.pg_social caption,
table.social caption,
table.bibrec th,
table.files th,
table.results th,
table.helpbox th,
table.pg_social th,
table.social th,
table.bibrec td,
table.files td,
table.results td,
table.helpbox td,
table.pg_social td,
table.social td {
  border: 1px solid #d9d6c4;
  padding: 0.5em;
}

table.bibrec caption,
table.files caption,
table.results caption,
table.helpbox caption,
table.pg_social caption,
table.social caption {
  border-width: 2px 2px 0 2px;
  font-weight: bold;
}

table.bibrec th,
table.files th,
table.results th,
table.helpbox th,
table.pg_social th,
table.social th,
table.bibrec td,
table.files td,
table.results td,
table.helpbox td,
table.pg_social td,
table.social td {
  text-align: left;
}

table.bibrec th,
table.files th,
table.results th,
table.helpbox th,
table.pg_social th,
table.social th {
  font-weight: bold;
}

table.social td {
  width: 33%;
  vertical-align: middle;
}

table.helpbox {
  display: inline-table;
  width: auto;
  margin: 0 1em 1em 0;
}