.noscreen {
  display: none;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.small {
  font-size: 70%;
}

.narrow {
  width: 1%;
}

.hstrut {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

div.breadcrumbs,
div.header,
div.footer {
  clear: both;
}

div.breadcrumbs {
  margin-top: 4em;
}

#print-head {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

#screen-head {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

#screen-head > table {
  border-collapse: collapse;
  width: 100%;
}

#logo {
  background: #eceadf;
  border: 1px solid #cfcaaf;
  border-width: 0 1px 1px 0;
  padding: 0;
  width: 1%;
}

#logo span:hover {
  opacity: 0.8;
}

#tagline-badges {
  color: #654b24;
  font-weight: bold;
  background: #eceadf;
  border: 1px solid #cfcaaf;
  border-width: 0 1px 1px 0;
  padding: 0.5em 0.5em;
  text-align: center;
}

#tagline-badges > table {
  *width: auto;
}

#fb-badge {
  width: 1%;
}

#paypal-badge {
  width: 1%;
  padding-left: 1em;
}

#flattr-badge {
  width: 1%;
  padding-left: 1em;
}

#menubar-search {
  padding: 1em 1em;
}

#menubar {
  background: #f5f4ef;
  border: 1px solid #d9d5bf;
  border-width: 0 1px 1px 0;
  padding: 4px;
  text-align: center;
  font-weight: bold;
  line-height: 1.5em;
}

#menubar a {
  margin-left: 1em;
  padding: 2px 0 1px 0;
  text-decoration: none;
  border-bottom: 1px solid #cfcaaf;
}

#menubar #menubar-first {
  margin-left: 0;
}

#search {
  padding: 0.5em 0.5em;
}

#search td {
  border: 1px solid #d9d5bf;
  background: transparent;
}

#search button {
  background: transparent;
  cursor: pointer;
}

#search #search-button-cell {
  border-width: 1px 0 1px 1px;
  padding: 0;
}

#search #search-button-cell:hover {
  background: #654b24;
}

#search #search-input-cell {
  border-width: 1px 0 1px 0;
  padding: 0 2px;
  width: 100%;
}

#search #help-button-cell {
  padding: 0;
}

#search #help-button-cell:hover {
  background: #654b24;
}

#search #search-button {
  margin: 0;
  padding: 0 2px;
  border: 0 none;
}

#search #search-input {
  margin: 0;
  padding: 4px 0;
  border: 0 none;
  height: 100%;
  width: 100%;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
}

#search #help-button {
  margin: 0;
  padding: 0 6px;
  border: 0 none;
}

#search #help-button:hover {
  color: white;
}

#helpbox {
  border: 1px solid #d9d6c4;
  border-radius: 0.5em;
  overflow: hidden;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  float: right;
  clear: both;
  margin: 1em 1em 0 1em;
  background-color: white;
}

#helpbox > div {
  margin: 1em 1em 0 1em;
}

div.breadcrumbs > ul {
  padding: 0;
  list-style: none outside none;
}

div.breadcrumbs > ul > li {
  display: inline-block;
}

div.breadcrumbs > ul > li.next:before {
  content: "›";
}

#cover-social-wrapper {
  width: 200px;
  float: left;
}

#cover {
  width: 200px;
}

#cover img {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

#no-cover {
  width: 200px;
  height: 300px;
  border: 1px solid gray;
}

#no-cover > div.icon {
  position: relative;
  top: 139px;
  left: 89px;
}

#no-cover > div.text {
  text-align: center;
}

#social {
  margin-top: 2em;
}

#social > ul {
  padding: 0;
  list-style: none outside none;
}

#social > ul > li {
  display: inline-block;
}

#qr {
  margin-top: 2em;
}

.qrcode {
  display: inline-block;
  width: 116px;
  height: 116px;
}

.qrcode.qrcode-desktop {
  background-position: 0 0;
}

#tabs-wrapper {
  margin: 0 1em 0 200px;
}

#tabs {
  margin-left: 2em;
}

div.copyright {
  margin: 2em 1em;
  font-size: 70%;
}

.paypal-button {
  min-width: 74px;
  height: 21px;
}

.rss-follow-button {
  height: 20px;
}

.h1 {
  font-weight: bold;
}

img.cover-art {
  max-width: 100%;
}

table.bibrec,
table.files,
table.results,
table.helpbox {
  width: 100%;
  background-color: white;
  border: 1px solid #d9d6c4;
  padding: 0;
}

table.bibrec caption,
table.files caption,
table.results caption,
table.helpbox caption,
table.bibrec th,
table.files th,
table.results th,
table.helpbox th,
table.bibrec td,
table.files td,
table.results td,
table.helpbox td {
  border: 1px solid #d9d6c4;
  padding: 0.5em;
}

table.bibrec caption,
table.files caption,
table.results caption,
table.helpbox caption {
  border-width: 2px 2px 0 2px;
  font-weight: bold;
}

table.bibrec th,
table.files th,
table.results th,
table.helpbox th,
table.bibrec td,
table.files td,
table.results td,
table.helpbox td {
  text-align: left;
}

table.bibrec th,
table.files th,
table.results th,
table.helpbox th {
  font-weight: bold;
}

table.helpbox {
  display: inline-table;
  width: auto;
  margin: 0 1em 1em 0;
}

table.helpbox + table {
  margin-right: 0;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  background-image: url(/pics/sprite.png?1591823171);
  width: 23px;
  height: 23px;
}

ul.results {
  display: block;
  margin: 3em 0.5em 0 0.5em;
  list-style-type: none;
  padding-left: 0;
  -moz-column-width: 20em;
  -moz-column-gap: 1em;
  -moz-column-rule: 1px solid #cfcaaf;
  -webkit-column-width: 20em;
  -webkit-column-gap: 1em;
  -webkit-column-rule: 1px solid #cfcaaf;
  column-width: 20em;
  column-gap: 1em;
  column-rule: 1px solid #cfcaaf;
}

ul.results li {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -ms-column-break-inside: avoid;
  -o-column-break-inside: avoid;
  break-inside: avoid-column;
  display: table;
  width: 100%;
}

ul.results li a.link {
  display: block;
  text-decoration: none;
}

ul.results li .padded {
  padding: 0.5em 0.5em;
}

ul.results li.h2,
ul.results li.statusline {
  background: #eceadf;
  color: inherit;
  background-color: #eceadf;
}

.cell {
  padding: 0.2em 1.2em;
}

.cell.leftcell {
  float: left;
  vertical-align: top;
}

.cell.content {
  display: block;
  padding-left: 1em;
  color: #a01f13;
}

.cell.content:hover {
  color: #8d770b;
}

span.title {
  display: block;
  font-weight: bold;
}

a span.title {
  text-decoration: underline;
}

span.subtitle {
  display: block;
  color: black;
}

span.extra {
  display: block;
  color: gray;
}

h1 .icon {
  float: left;
  margin-left: 20px;
}

.icon_gdrive {
  background-position: 0px -194px;
  width: 24px;
  height: 21px;
}

.icon_msdrive {
  background-position: -25px -194px;
  width: 24px;
  height: 24px;
}

.icon_random {
  background-position: -50px -194px;
  width: 22px;
  height: 22px;
}

.icon_bsky {
  background-position: -72px -194px;
  width: 22px;
  height: 22px;
}

.icon_book {
  background-position: -69px -334px;
  width: 22px;
  height: 22px;
}

.icon_date {
  background-position: -69px -219px;
  width: 22px;
  height: 22px;
}

.icon_rss {
  background-position: -46px -265px;
  width: 22px;
  height: 22px;
}

.icon_print {
  background-position: -46px -288px;
  width: 22px;
  height: 22px;
}

.icon_dropbox {
  background-position: -23px -311px;
  width: 22px;
  height: 22px;
}

.icon_popular {
  background-position: 0px -334px;
  width: 22px;
  height: 22px;
}

.icon_folder {
  background-position: -23px -334px;
  width: 22px;
  height: 22px;
}

.icon_masto {
  background-position: -23px -357px;
  width: 20px;
  height: 20px;
}

.icon_facebook {
  background-position: -44px -357px;
  width: 20px;
  height: 20px;
}

.icon_twitter {
  background-position: -65px -357px;
  width: 20px;
  height: 20px;
}

.icon_help {
  background-position: 0px -380px;
  width: 16px;
  height: 16px;
}
