div .header {
  padding-top: 5px;
}

@media screen and (max-width: 1025px) {
  div .header {
    padding-top: 75px;
  }
}
    
@media screen and (max-width: 750px) {
  div .header {
    padding-top: 140px;
  }
}
